@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bac-img {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    height: 100vh;
    width: 43vw;
    margin: auto;
}

.h1-text {
    text-align: center;
    color: white;
    font-family: "roboto";
}

.para1-text {
    font-family: "roboto";
    color: white;
    text-align: center;
    font-size: 16.5px;
}

.h2-text {
    color: white;
    font-family: "roboto";
    font-size: 18px;
}

.para2-text {
    color: white;
    font-family: "roboto";
}

.group {
    text-align: center;
}

.butn {
    background-color: orange;
    color: #f7f7f7;
    border-width: 2px;
    border-color: #423d3a;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    font-size: 15.5px;
}

.para3 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: "Roboto";
    font-size: 10px;
}